manifest {
    description = 'HCL Sequencing Analysis Pipeline'
}

params {
    nfpath = '/srv/scratch/iai/seqmet'
    illuminaPrefixes = false
    illuminaSuffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
    fastq_exts = ['.fastq.gz', '.fq.gz']
    help = false
    directory = false
}

process {
    withLabel: highmemory {
        container = '/srv/scratch/iai/seqmet/singularity/rsv/varcall.sif'
        maxForks = 4
        cpus = 4
        memory = 72.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: highcpu {
        container = '/srv/scratch/iai/seqmet/singularity/rsv/varcall.sif'
        maxForks = 1
        cpus = 16
        memory = 18.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: srahumanscrubber {
        container = '/srv/scratch/iai/seqmet/singularity/rsv/srahumanscrubber.sif'
        maxForks = 16
        cpus = 1
        memory = 8.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: qiime2 {
        container = '/srv/scratch/iai/seqmet/singularity/rsv/qiime2.sif'
        maxForks = 4
        cpus = 4
        memory = 32.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: denovo {
        container = '/srv/scratch/iai/seqmet/singularity/rsv/denovo.sif'
        maxForks = 4
        cpus = 4
        memory = 32.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: varcall {
        container = '/srv/scratch/iai/seqmet/singularity/rsv/varcall.sif'
        maxForks = 16
        cpus = 1
        memory =8.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: samtools {
        container = '/srv/scratch/iai/seqmet/singularity/rsv/varcall.sif'
        maxForks = 16
        cpus = 1
        memory = 8.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
    withLabel: nextclade {
        container = '/srv/scratch/iai/seqmet/singularity/nextclade.sif'
        maxForks = 16
        cpus = 1
        memory = 8.GB
        errorStrategy = { task.exitStatus == 255 ? 'retry' : 'terminate' }
        maxRetries = 5  
    }
}

profiles {
    local {
        process.executor = 'local'
    }
    
    cluster {
        process.executor = 'sge'
    }

}

executor {
  $sge {
      queueSize = 25
      cpus = 25
      memory = '200 GB'
  }

  $local {
      queueSize = 16
      cpus = 16
      memory = '300 GB'
  }
}

singularity {
    enabled = true
    autoMounts = false
    runOptions = '--bind /srv/scratch/regueha'
}
